.share-tech-mono-regular {
    font-family: "Share Tech Mono", serif;
    font-weight: 400;
    font-style: normal;
  }
  

:root {
    --color-primary: #40c0ee;
    --color-button: #bf24d7;
    --color-button-hover: #971daa;
    --color-white: #FFFFFF;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-image: url('assets/amigo-secreto.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    min-height: 100vh;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}


.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 40px 0;
}

/* Sección de entrada */
.input-section {
    flex: 60%;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 85px;
    font-family:"Share Tech Mono", serif;
    font-weight: 900;
    color: var(--color-white);
    padding: 170px 100px 0;
}

.section-title {
    font-family: "Share Tech Mono", serif;
    font-size: 32px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 0 110px;
    text-align: left;
}

/* Contenedores de entrada y botón */
.input-wrapper {
   
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin: 30px 115px 0;
}

.input-name {
    font-family: "Share Tech Mono", serif;
    width: 100%;
    padding: 15px;
    border: 2px;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    width: 275px;
    justify-content: center;
    padding: 0px 210px 0;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Share Tech Mono", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botón */
button {
    padding: 15px 30px;
    font-family: "Share Tech Mono", serif;
    font-size: 16px;
    border: 2px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.button-add {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    color: var(--color-white);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background: linear-gradient(45deg, #590bac, #1257cc);
    color: var(--color-white);
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-white);
    font-family: "Share Tech Mono", serif;
}

.name-list {
    display: grid;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
    margin-top: 15px;
    margin-left:145PX ;
    max-width: 400px;
}

.name-list {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.7);
    animation: fadeIn 0.3s ease-in-out;
}

.name-list {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Botón de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 10px 40px;
    margin-top: 25px;
    color: var(--color-white);
    background: linear-gradient(45deg, #dd2cf9, #6a11cb);
    font-size: 16px;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background: linear-gradient(45deg, #b423ca, #590bac);
}
